<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Simple Login{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
  <header>
    <h1>Django Registration and Login</h1>
    {% if user.is_authenticated %}
      <font style="font-size: 25px;font-weight: 600;color:#fd5c63; padding-left: 300px;">Welcome {{ user.username }}! </font>
      <a href="{% url 'logout' %}" style="color: #2196f3;font-size: 20px;font-weight: 600;float:right">&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Logout</a>
      <a href="{% url 'change_password' %}" style="color: #2196f3;font-size: 20px;font-weight: 600;float:right">Change Password</a>
    {% else %}
      <a href="{% url 'login' %}" style="font-size: 25px;font-weight: 600;color:#fd5c63">login</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="{% url 'sign_up' %}" style="font-size: 25px;font-weight: 600;color:#fd5c63">Create New Account</a>&nbsp;&nbsp;&nbsp;
      <a href="{% url 'password_reset' %}" style="font-size: 25px;font-weight: 600;color:#fd5c63">Reset Password</a>

    {% endif %}
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>
  <footer>
    <a href="http://techpluslifestyle.com" style="color: deepskyblue;font-size: 20px;font-weight: 600;">techpluslifestyle.com</a>
  </footer>
</body>
</html>